header {

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 68px;
    z-index: 1;
    display: flex;
    padding-right: 120px;
    padding-left: 120px;
    align-items: center;
    justify-content: space-between;

    img {
        height: 50px;
    }

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-weight: bold;

        &:hover {
            color: rgba(255,255,255,0.8);
            cursor: pointer;
        }
    }
}

.darkLinks {

    a {
        color: black;

        &:hover {
            color: rgba(0,0,0,0.6);
        }
    }
}

.headerDark {
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}